.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
  margin: 50px;
}

.p-lists {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.p-list {
  text-decoration: none;
  margin-right: 1vw;
  color: #333333;
  font-weight: bold;
}